@{
    ViewData["Title"] = "SecurePrint Server";
}
<html>
    <head>
        <title>SecurePrint Server</title>
    </head>
    <body>
        <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
            <img src="~/images/secureprint-logo.png" alt="SecurePrint Server Logo" style="max-width:60%; height:auto;" />
        </div>
    </body>
</html>


@* 
<h2>Upload Document</h2>
<form method="post" enctype="multipart/form-data" action="/api/DocumentApi/analyze">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>
 *@